.App {
  text-align: center;
}

body{
  margin: 0;
}

.pageBtn{
  background-color: #333;
  color: white;
}

.pagination{
  margin: 5px;
  padding: 5px;
  color: black;
}

.pagination button:disabled{
  visibility: hidden;
}
